:root {
    /* --background-dark: #002233;
    --background-light: #0066ff; */
    --color: #000000;
    --light-color: #333;
    --form: #5fa8d3;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: block;
    margin: 1rem 10vw;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline;
    pointer-events: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: min(450px, 90%);
}

a {
    color: black;
    text-decoration: none;
}

.index-intro {
    height: 10vh;
}

.index-categories {
    margin-top: 10rem;
}

.index-categories > div {
    display: flex;
    justify-content: space-around;
}

.index-categories-list > div {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: #1f7e4c;
    text-align: center;
    margin-top: 4rem;
    transition: all 0.4s ease-in-out;
}

.index-categories-list > div:hover {
    transform: scale(1.4);
    border-radius: 3rem;
    background: #8e1cba;
}

.index-categories-list > div > h3 {
    line-height: 15rem;
    margin: 0;
    color: white;
}

/* -------------------------------------------------- Form -------------------------------------------------- */

.signup-form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.signup-form > h2 {
    text-align: center;
}

.login-form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.login-form > h2 {
    text-align: center;
}

form {
    /* width: 50vw; */
    position: relative;
    /* margin-top: 5vh; */
}

.form {
    width: min(450px, 80vw);
    height: 6vh;
    position: relative;
    overflow: hidden;
    margin: 1vh 0;
}

.form-message {
    width: 50vw;
    height: 25vh;
    overflow-x: hidden;
}

.form input,
.form textarea {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    padding-top: 0.8vh;
    font-size: 2vh;
    color: var(--light-color);
}

.form textarea {
    padding-top: 0vh;
    margin-top: 5vh;
    resize: none;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--color);
}

/* .form-message label {
    height: 30vh;
} */

.form label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -1px;
    border-bottom: 3px solid var(--form);
    transform: translateX(-101%);
    transition: all 0.3s ease;
}

.form .content {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .label .content,
.form input:visited + .label .content {
    transform: translateY(-3vh);
    font-size: 14px;
    color: var(--form);
}

.form textarea:focus + .label .content,
.form textarea:visited + .label .content {
    transform: translateY(-20vh);
    font-size: 14px;
    color: var(--form);
}

.form input:focus + .label::after,
.form input:visited + .label::after,
.form textarea:focus + .label::after,
.form textarea:visited + .label::after {
    transform: translateX(0%);
}

.submit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--light-color);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--light-color);
    cursor: pointer;
    margin-top: 2vh;
    transition: all 0.8s ease;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.submit:hover,
.submit:focus {
    border: 1px solid var(--form);
    color: var(--color);
}

.submit::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #5fa8d3;
    z-index: -1;
    border-radius: 50% 50% 0 0;
    transition: all 0.8s ease;
}

.submit:hover::before,
.submit:focus::before {
    height: 200%;
}

.other-form {
    display: block;
    position: absolute;
    bottom: 2vh;

    left: 50%;
    transform: translateX(-50%);
}

.other-form > a {
    text-decoration: underline;
    color: blue;
}

.button {
    background: #eee;
    border: 2px solid #bbb;
    padding: 8px 20px;
    border-radius: 10px;
    color: #222;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    background: #ddd;
    border: 2px solid #aaa;
    color: #111;
}
